body {
    margin: 0px;
    padding: 0px;
    background-color: aliceblue;
}

.formarea {
    width: 25%;
    margin: 200px auto;
}

.addbtn {
    margin: auto;
    display: flex;
    margin-top: 8px;
    border: none;
    background-color: cornflowerblue;
}

.motherofh1 {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 20px 20px;
    margin: auto;
    margin-top: 40px;
}